.c-Register-main {
    width: 100%;
    background-color: #244DDE;
    display: flex;
    align-items: center;
    justify-content: center;
}

.c-Register-main__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 70px;
    padding: 40px;
    text-align: justify;
}

.c-Register-main__content-register {
    padding: 40px;
}

.c-Register-main__content-register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #ffffff;
    padding: 40px;
}

.c-Register-main__content-register-form-title {
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 20px;
}

.c-Register-main__content-register-form-item {
    font-size: 24px;
    padding: 20px;
    border-radius: 20px;
}

.c-Register-main__content-register-form-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.c-Register-main__content-register-form-login-link {
    color: #244DDE;
    text-underline-position: under;
}