.c-HomePage-main {
    width: 100%;
    background-color: #244DDE;
}

.c-HomePage-main__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 70px;
    padding: 40px;
}

.c-HomePage-main__content-item {
    width: 400px;
    height: 500px;
    background-color: #ffffff;
}